.main{
    margin-top: 16px;
    margin-bottom: 52px;
}
.main ul{
    display: flex;
    justify-content: space-between;
}
.main li{
    width: 312px;
    height: 226px;
    border: 1px solid #efefef;
    padding: 13px 22px;
}
.main li:nth-child(2){
    width: 374px;
}
.main li:nth-child(3){
    width: 268px;
}
.main .top{
    height: 15px;
    padding-left: 2em;
    color: #7ab855;
    font-weight: 600;
    background: url(../images/jiantou.png) no-repeat left center;
    background-size: 14px 14px;
    margin-bottom: 10px;
    font-size: 12px;
}
.top span{
    color: #666;
    float: right;
}
.item{
    padding-left: 16px;
}
.one{
    width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two p{
    color: #666;
    font-size: 12px;
    line-height: 28px;
    border-bottom: 1px dashed #dcdcdc;
}
.two span{
    color:#ff0000;
    font-weight: 600;
}
.three p{
    margin: 6px 5px;
    padding-left: 3px;
    height: 1em;
    font-size: 12px;
    line-height: 1;
    color: #666;
    border-left: 2px solid #98cb00;
}
.bottom{
    margin-bottom: 40px !important;
}
.fter{
    border-left: 0 !important;
    margin-bottom: 10px !important;
}